# --- Dot Manager Logic ---
# Don't upload the log file (it changes constantly)
dot-manager.log

# Don't upload the local config (stores your specific machine settings)
.dot-manager.conf

# Ignore backups created by the manager
.dotfiles-backup/

# --- System & Editor Junk ---
# Vim/Neovim swap files
*.swp
*.swo

# Backup files (tilde at the end)
*~

# Custom
Dotfiles/.config/hypr/assets/current-wallpaper.png
Dotfiles/.config/dconf/
Dotfiles/.config/mozilla/
Dotfiles/.config/pulse/
Dotfiles/.config/zed/
Dotfiles/.config/Code - OSS/
