/* -----------------------------------------------------------------------------
 * ROFI COLORS TEMPLATE (Matugen + Transparency)
 * ----------------------------------------------------------------------------- */

* {
    /* --- STANDARD MATERIAL PALETTE --- */
    primary: #85d1e8;
    on-primary: #003641;
    primary-container: #004e5e;
    on-primary-container: #b0ecff;

    secondary: #b2cbd3;
    on-secondary: #1d343a;
    secondary-container: #344a51;
    on-secondary-container: #cee7ef;

    tertiary: #c0c4eb;
    on-tertiary: #292e4d;
    tertiary-container: #404565;
    on-tertiary-container: #dee0ff;

    error: #ffb4ab;
    on-error: #690005;

    surface: #0f1416;
    on-surface: #dee3e6;
    on-surface-variant: #bfc8cb;

    outline: #899295;

    surface-container: #1b2022;
    surface-container-high: #252b2d;
    surface-container-highest: #303638;

    /* --- SEMANTIC ALIASES --- */

    /* Main Background (Solid) */
    background-col: #0f1416;

    /* Main Background (Transparent) - D9 = 85% , CC = 80%, BF = 75% , A6 = 65% , 99 = 60% and 80 = 50% Opacity */
    background-alpha-col: #0f1416CC;

    /* Card/Element Background */
    background-alt-col: #1b2022;

    /* Text */
    foreground-col: #dee3e6;

    /* Highlights */
    selected-col: #85d1e8;
    active-col: #b2cbd3;
    urgent-col: #ffb4ab;
}
