/* -----------------------------------------------------------------------------
 * ROFI COLORS TEMPLATE (Matugen + Transparency)
 * ----------------------------------------------------------------------------- */

* {
    /* --- STANDARD MATERIAL PALETTE --- */
    primary: #9ccbfb;
    on-primary: #003354;
    primary-container: #114a73;
    on-primary-container: #cfe5ff;

    secondary: #b9c8da;
    on-secondary: #243240;
    secondary-container: #3a4857;
    on-secondary-container: #d5e4f7;

    tertiary: #d4bee6;
    on-tertiary: #392a49;
    tertiary-container: #504061;
    on-tertiary-container: #efdbff;

    error: #ffb4ab;
    on-error: #690005;

    surface: #101418;
    on-surface: #e0e2e8;
    on-surface-variant: #c2c7cf;

    outline: #8c9199;

    surface-container: #1c2024;
    surface-container-high: #272a2f;
    surface-container-highest: #323539;

    /* --- SEMANTIC ALIASES --- */

    /* Main Background (Solid) */
    background-col: #101418;

    /* Main Background (Transparent) - D9 = 85% , CC = 80%, BF = 75% , A6 = 65% , 99 = 60% and 80 = 50% Opacity */
    background-alpha-col: #101418CC;

    /* Card/Element Background */
    background-alt-col: #1c2024;

    /* Text */
    foreground-col: #e0e2e8;

    /* Highlights */
    selected-col: #9ccbfb;
    active-col: #b9c8da;
    urgent-col: #ffb4ab;
}
