/* -----------------------------------------------------------------------------
 * ROFI COLORS TEMPLATE (Matugen + Transparency)
 * ----------------------------------------------------------------------------- */

* {
    /* --- STANDARD MATERIAL PALETTE --- */
    primary: #88d1eb;
    on-primary: #003543;
    primary-container: #004e60;
    on-primary-container: #b7eaff;

    secondary: #b3cad4;
    on-secondary: #1e333b;
    secondary-container: #344a52;
    on-secondary-container: #cfe6f1;

    tertiary: #c3c3eb;
    on-tertiary: #2c2e4d;
    tertiary-container: #424465;
    on-tertiary-container: #e0e0ff;

    error: #ffb4ab;
    on-error: #690005;

    surface: #0f1416;
    on-surface: #dee3e6;
    on-surface-variant: #bfc8cc;

    outline: #8a9296;

    surface-container: #1b2023;
    surface-container-high: #252b2d;
    surface-container-highest: #303638;

    /* --- SEMANTIC ALIASES --- */

    /* Main Background (Solid) */
    background-col: #0f1416;

    /* Main Background (Transparent) - D9 = 85% , CC = 80%, BF = 75% , A6 = 65% , 99 = 60% and 80 = 50% Opacity */
    background-alpha-col: #0f1416CC;

    /* Card/Element Background */
    background-alt-col: #1b2023;

    /* Text */
    foreground-col: #dee3e6;

    /* Highlights */
    selected-col: #88d1eb;
    active-col: #b3cad4;
    urgent-col: #ffb4ab;
}
