configuration {
    modi:                       "drun,run,filebrowser";
    show-icons:                 true;
    display-drun:               "󰘳 ";
    display-run:                " ";
    display-filebrowser:        " ";
    display-window:             " ";
    drun-display-format:        "{name}";
    window-format:              "{w} · {c} · {t}";

    /* Using your system font */
    font:                       "MapleMono NF Mono 12";
    icon-theme:                 "BeautySolar";
}

/* Set help message */
* {
    message-text: "󰁔 Use [Ctrl+Tab] or [Arrows] to switch modes";
}


/* Import the theme */
@theme "theme.rasi"
